{% extends 'base.html' %}
{% block content %}
{% load static %}


<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>{{ user_messages.count}} message{{ user_messages|pluralize}}</h4>
            <hr>
            {% for message in user_messages %}
            <h4>Subject: {{message.subject}}</h4>
            <h6><small>From: {{message.email}}</small></h6>
            <h6><small>Time: {{message.created_on}}</small></h6>
            {% if message.is_read %}
            <span class="badge badge-success">Read</span>
            {% if message.is_replied %}
            <span class="badge badge-primary">Replied</span>
            {% endif %}
            {% else %}
            <span class="badge badge-warning">Not yet</span>
            {% endif %}
            <div class="col-12" style="text-align: right;">
                <a href="{% url 'message_detail' request.user message.id %}"
                    style="background-color: orangered; color: white; font-size: 11px;" class="btn btn-sm">View</a>
                <a href="{% url 'message_delete' request.user message.id %}" id="delete"
                    style="background-color: orangered; color: white; font-size: 11px;" class="btn btn-sm">Delete</a>
                <a href="{% url 'message_forward' request.user message.id %}"
                    style="background-color: orangered; color: white; font-size: 11px;" class="btn btn-sm">Forward</a>
                {% if not message.is_read %}
                <a href="{% url 'message_markread' request.user message.id %}"
                    style="background-color: orangered; color: white; font-size: 11px;" class="btn btn-sm">Mark as
                    read</a>
                {% else %}
                {% if not message.is_replied %}
                <a href="{% url 'message_markread' request.user message.id %}"
                    style="background-color: orangered; color: white; font-size: 11px;" class="btn btn-sm">Mark as
                    unread</a>
                {% else %}
                <a href="{% url 'message_markread' request.user message.id %}"
                    style="background-color: orangered; color: white; font-size: 11px;" class="btn btn-sm disabled">Mark
                    as unread</a>
                {% endif %}
                {% endif %}
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

</div>


{% endblock %}